* {
	box-sizing: border-box;
}

body {
	margin-top: 0;
	padding: 0;
}


nav > .nav {
	display: inline-block;
	text-align: right;
	margin-right: 1%;
}

.banner {
	background-image: url("../img/banner1.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	min-height: 900px;
}

.banner > .box > h1 {
	margin: 0 auto;
	font-family: 'Questrial', serif;
	font-size: 3.2em;
	text-shadow: 0 0 3px white;
	color: black;
}

.box {
	text-align: center;
	width: 60%;
	padding: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.box > .box > p {
	font-size: 1.8em;
	color: white;
	font-family: 'Poiret One', cursive;
}

.col-lg-1 {
	width: 8.33%; /* 100% / 12 columns */
}

.col-lg-2 {
	width: 16.66%; /* 8.33% x 2 columns */
}

.col-lg-3 {
	width: 25%;
}

.col-lg-4 {
	width: 33.33%;
}

.col-lg-5 {
	width: 41.66%;
}

.col-lg-6 {
	width: 50%;
}

.col-lg-7 {
	width: 58.33%;
}

.col-lg-8 {
	width: 66.66%;
}

.col-lg-9 {
	width: 75%;
}

.col-lg-10 {
	width: 83.33%;
}

.col-lg-11 {
	width: 91.66%;
}

.col-lg-12 {
	width: 100%
}

.banner > .box > {
	margin: 10%;
}
/*jfnsdfjhjf*/

/*dnfkdsnfskf*/
@media only screen and (min-width: 401px) and (max-width: 960px) {

	.col-md-1 {
		width: 8.33%; /* 100% / 12 columns */
	}

	.col-md-2 {
		width: 16.66%; /* 8.33% x 2 columns */
	}

	.col-md-3 {
		width: 25%;
	}

	.col-md-4 {
		width: 33.33%;
	}

	.col-md-5 {
		width: 41.66%;
	}

	.col-md-6 {
		width: 50%;
	}

	.col-md-7 {
		width: 58.33%;
	}

	.col-md-8 {
		width: 66.66%;
	}

	.col-md-9 {
		width: 75%;
	}

	.col-md-10 {
		width: 83.33%;
	}

	.col-md-11 {
		width: 91.66%;
	}

	.col-md-12 {
		width: 100%
	}

	.banner > .box > h1 {
		width: 100%;
	}
}

/* mobile or small-sized devices */
@media only screen and (max-width: 400px) {

	.col-sm-1 {smwidth: 8.33%; /* 100% / 12 columns */
	}

	.col-sm-2 {smwidth: 16.66%; /* 8.33% x 2 columns */
	}

	.col-sm-3 {
		width: 25%;
	}

	.col-sm-4 {
		width: 33.33%;
	}

	.col-sm-5 {
		width: 41.66%;
	}

	.col-sm-6 {
		width: 50%;
	}

	.col-sm-7 {
		width: 58.33%;
	}

	.col-sm-8 {
		width: 66.66%;
	}

	.col-sm-9 {
		width: 75%;
	}

	.col-sm-10 {
		width: 83.33%;
	}

	.col-sm-11 {
		width: 91.66%;
	}

	.col-sm-12 {
		width: 100%
	}

	.banner > .box > h1 {
		width: 100%;
	}
}



